/* Logo style */
#logo {
    height: 60px;
}
.left-col {
    width: 60%;
}
th {
    border-bottom: 0;
}
tr td:first-child {
    font-size: 12px;
}
td i {
    color: gray;
    border: 1px solid gray;
    padding: 3px 4px;
    border-radius: 3px;
}
#todo li {
    font-size: 12px;
}
#accordioFlushExample button {
    font-size: 14px;
}
/* tr td:nth-child(2) {
    font-size: 12px;
} */

@media screen and (min-width: 768px) {
    .left-col {
        width: 55%;
    }
}
@media screen and (min-width: 1200px) {
    .container-cst {
        max-width: 1050px;
    }

}